
html, body {
	height: 100%;
	font-family: sans-serif;
	background-color: #222;
	color: #D4E09B;
}

.data-container {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgb(0, 0, 0, 0.7);
	z-index: 2;
}

.data-container button {
	display: inline-block;
	margin-right: 28px;
	width: 70px;
	margin-top: 5px;
}

.data-container textarea, .data-container #outputText {
	display: block;
	overflow-y: auto;
	width: 95%;
	height: 95%;
	margin: 30px auto;
	background-color: white;
	color: black;
	white-space: pre;
	font-family: monospace;
}

#openBtn, #saveBtn {
	display: inline-block;
}

#container {
	width: 80%;
	width: 1010px;
	margin: 0 auto;
	font-size: 0.9em;
}

#container > button {
	min-width: 78px;
}
h1 {
	color: #D4E09B;
}

a {
	color: white;
}
canvas  {
	display: block;
}

#input-label {
	margin-left: 50px;
}

#output-label {
	margin-left: 200px;
}

#instruction {
	color: #D4E09B;
}

#visual-output {
	box-sizing: border-box;
	width: 1010px;
	height: 210px;
	padding: 5px 5px;
	border: 1px solid grey;
}

input.multirange {
	-webkit-appearance: none;
	appearance: none;
	background: #333;
	border-radius: 3px;
}

#scrub {
	display: block;
	width: 100%;
}

#duration {
	width: 25px;
	text-align: right;
	margin-left: 30px;
}

#variables div {
	padding: 2px;
}
#variables .variableContainer {
	margin: 3px 0px;
	opacity: 1;
	/* overflow: auto; */
}
#variables .variableContainer.inactive {
	opacity: 0.5;
	pointer-events: none;
}
#variables .variableContainer.inactive input.state {
	pointer-events: auto;
}
#variables {
	font-size: 0.8em;
	color: #333;
}
#variables .variable {
	height: 28px;
	background-color: rgb(0,0,0,0.2);
}
#variables .variable .volumeLabel {
	margin-left: 165px;
	margin-right: 20px;
	margin-top: 9px;
}

#variables .variable .panLabel {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 9px;
}
#variables .variable > span,
#variables .parameter > span,
#variables .parameter > label {
	vertical-align: top;
	margin-top: 7px;
}
#variables .variable > span {
	display: inline-block;
}

#variables .variable input[type='range'] {
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
}

#variables .variableContainer.inactive .parameters {
	display: none;
}

#variables .variableContainer.inactive .param.addBtn {
	display: none;
}
#variables .parameters {
	padding-left: 30px;
}
#variables .parameters .menu > li {
	width: 220px;
}
#variables .parameters .menu > li > a {
	line-break: anywhere;
	white-space: nowrap;
}
#variables .parameters .curveType {
	display: none;
}
#variables .parameters .curveType > li {
	width: 70px;
}

#variables .parameters .multiSlider {
	height: 24px;
	width: 314px;
	vertical-align: top;
	margin: 4px 0px;
}

#variables .parameters input[type='range']{
	width: 200px;
	--range-color: #333;
	background: rgba(30,30,30,0.3);
	margin-top: 2px;
}

#variables .parameters .multiSlider .min,
#variables .parameters .multiSlider .max {
	font-size: 0.9em;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid grey;
	width: 45px;
	padding: 2px;
	margin: 1px 2px;
	border-radius: 3px;
	text-align: right;
	display: inline-block;
}
#variables .parameter {
	border-bottom: 1px dotted grey;
	display: table;
	padding-top: 6px;
}

#variables > div {
	border: 1px dotted #ccc;
	border-radius: 3px;
}
.removeBtn {
	background: #999;
	border-radius: 8px;
	vertical-align: top;
	margin-left: 7px;
}

.variableContainer .audioObjectSelector {
	display: none;
}
.variableContainer.isset .audioObjectSelector {
	display: inline-block;
}

.variableContainer .param.addBtn {
	display: none;
}

.variableContainer.hasAudioObject .param.addBtn {
	display: inline-block;
}
.variableContainer .parameter > * {
	display: none;
}
.variableContainer .parameter .parameterSelect  {
	display: inline-block;
}
.variableContainer .parameter.isset > * {
	display: inline-block;
}


/*
#variables .variableContainer:nth-child(4n){
	background-color: #D4E09B;
}
#variables .variableContainer:nth-child(4n+1){
	background-color: #F6F4D2;
}
#variables .variableContainer:nth-child(4n+2){
	background-color: #F19C79;
}
#variables .variableContainer:nth-child(4n+3){
	background-color: #A44A3F;
}
*/
#variables .variable > .removeBtn {
	vertical-align: top;
	margin-top: 2px;
	margin-left: 22px;
	background: #f33;
}

input[type=checkbox] {
    transform: scale(1.5);
		margin: 7px 7px;
		vertical-align: top;
}

/* Multi dimensional menu */
.menu {display: inline-block;}
.menu .parent {display: block;position: relative;float: left;line-height: 24px;background-color: rgba(255,255,255,0.7);}
.menu .parent a{margin: 10px;color: #000;text-decoration: none;white-space: nowrap;}
/*.menu .parent:hovered > ul {display:block;position:absolute;z-index: 1}
.menu .parent:active > ul {display:none;position:absolute;}*/
.menu .child {display: none;}
.menu .child li {background-color: #E4EFF7;line-height: 30px;border-bottom:#CCC 1px solid;border-right:#CCC 1px solid; width:100%;}
.menu .child li a{color: #000000;}
.menu, ul {list-style: none;margin: 0;padding: 0px; min-width:10em;}
ul.menu  ul ul{left: 100%;top: 0;margin-left:1px;}
.menu li:hover {background-color: #95B4CA; z-index: 3}
.menu .parent li:hover {background-color: #F0F0F0;}
.menu .expand{font-size:12px;float:right;margin-right:5px;}
.menu > li > a > span {display: none;}
.menu > li {width: 150px;border-radius: 3px;border: 1px solid grey;border-right-style: solid;}


/* NO HOVER */
.menu ul.open {display:block;position:absolute;z-index: 1}
.menu li:active {background-color: #95B4CA; z-index: 3}